.profile{
  width: 49%;
  padding: 15px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}
.pstatement{
  position: relative;
  width: 70%;
}
.profileCenter{
  margin: 0 auto;
  padding: 10px;
}
.img{
  width: 25%;
}
.clearfix{
  clear: both;
}